/*CSS general de elementos*/
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px "Poppins", sans-serif
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
cite{
    font-weight: 300;
}
i{
    font-size: 24px;
}
li{
    float: left;
    text-align: center;
    /*width: 30px; /*Si usas esto el text-align afecta a la colocación*/ 
    margin-right: 5px;
}
/*CSS IDs y Clase*/
.hastag{
    color: #ffc900;
}
.seccion{
    padding: 10px 100px 10px 100px;
}
#redessociales{
    margin-top: 20px;
    list-style: none; /*Eliminar puntos de lista o numeracón*/

}
#inicio{
    background-image: url("../img/Inicio.png"); /*Para insertar la imagen en CSS*/
    min-height: 280px; /*Para que se ajuste de altura al padding*/
    background-repeat: no-repeat; /* Para que no se repita*/
    background-size: cover; /*Para que se adapate al bloque*/
}
#experiencia{
    background-color: white;
    color: #222; 
}
#portofolio{
    border-top: 1px solid #ffc900;
}